<item>
    <title><perch:content id="headline" /></title>
    <link>http://4-hair.co.uk/styling-tips#<perch:content id="slug" /></link>
    <description>
        <![CDATA[
							<perch:if exists="image">
							<a href="http://4-hair.co.uk/styling-tips#<perch:content id="slug" />">
            <img src="http://4-hair.co.uk<perch:content id="image">" alt="<perch:content id="headline" />" /></a>
							<perch:else />
							<a href="http://4-hair.co.uk/styling-tips#<perch:content id="slug" />">
							<img src="http://4-hair.co.uk/images/tip.gif" alt="<perch:content id="headline" />" width="268" height="175" /></a>
							</perch:if>
						<p><perch:content id="style-description" /></p>
        ]]>
    </description>
		<guid>http://4-hair.co.uk/styling-tips#<perch:content id="slug" /></guid>
</item>