<img alt="<perch:content id="heading"/>" width="570" height="210" class="img_shd_590" src="<perch:content type="image" id="image" label="Image" width="570" height="210" help="Width: 570px Height: 210px" order="2" />" /> 

<h3><perch:content type="text" id="heading" label="Heading" required="true" title="true" order="1" /></h3> 

<div class="separator"></div> 

<h4><perch:content type="text" id="tagline" label="Tagline" order="3" /></h4>

<perch:content type="textarea" id="text" label="Content" html="false" markdown="true" required="true" order="4" />
<perch:if exists="link"><a href="<perch:content type="text" id="link" label="Link" order="5" />" title="<perch:content id="linktext"/>"><perch:content type="text" id="linktext" label="Link Text" order="6" /></a></perch:if>