<perch:content id="companyname" type="text" label="Company Name" html="false" default="4-Hair" required="true" title="true" /><br />
<perch:content id="add1" type="text" label="Address Line 1" html="false" default="120-122 London Road" required="true"/><br />
<perch:content id="town" type="text" label="Town/Village" html="false" default="Knebworth" required="true"/><br />
<perch:content id="county" type="text" label="County" html="false" default="Hertfordshire" required="true"/><br />
<perch:content id="postcode" type="text" label="Post Code" html="false" default="SG3 6HB" required="true"/>