<table class="hours" border="0">
<tr>
<th><perch:content id="monday-name" type="text" label="Monday Name" default="Monday" html="false" required="true" title="True" /></th>
<td><perch:content id="monday-opening" type="text" label="Monday Opening Time" default="Closed" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="monday-closing" type="text" label="Monday Closing Time" default="Closed" html="false" required="true" title="false" /></td>
</tr>
<tr>
<th><perch:content id="tuesday-name" type="text" label="Tuesday Name" default="Tuesday" html="false" required="true" title="True" /></th>
<td><perch:content id="tuesday-opening" type="text" label="Tuesday Opening Time" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="tuesday-closing" type="text" label="Tuesday Closing Time" html="false" required="true" title="false" /></td>
</tr>
<tr>
<th><perch:content id="wednesday-name" type="text" label="Wednesday Name" default="Wednesday" html="false" required="true" title="True" /></th>
<td><perch:content id="wednesday-opening" type="text" label="Wednesday Opening Time" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="wednesday-closing" type="text" label="Wednesday Closing Time" html="false" required="true" title="false" /></td>
</tr>
<tr>
<th><perch:content id="thursday-name" type="text" label="Thursday Name" default="Thursday" html="false" required="true" title="True" /></th>
<td><perch:content id="thursday-opening" type="text" label="Thursday Opening Time" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="thursday-closing" type="text" label="Thursday Closing Time" html="false" required="true" title="false" /></td>
</tr>
<tr>
<th><perch:content id="friday-name" type="text" label="Friday Name" default="Friday" html="false" required="true" title="True" /></th>
<td><perch:content id="friday-opening" type="text" label="Friday Opening Time" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="friday-closing" type="text" label="Friday Closing Time" html="false" required="true" title="false" /></td>
</tr>
<tr>
<th><perch:content id="Saturday-name" type="text" label="Saturday Name" default="Saturday" html="false" required="true" title="True" /></th>
<td><perch:content id="saturday-opening" type="text" label="Saturday Opening Time" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="saturday-closing" type="text" label="Saturday Closing Time" html="false" required="true" title="false" /></td>
</tr>
<tr>
<th><perch:content id="sunday-name" type="text" label="Sunday Name" default="Sunday" html="false" required="true" title="True" /></th>
<td><perch:content id="sunday-opening" type="text" label="Sunday Opening Time" default="Closed" html="false" required="true" title="false" /></td>
<td class="dash">&ndash;</td>
<td><perch:content id="sunday-closing" type="text" label="Sunday Closing Time" default="Closed" html="false" required="true" title="false" /></td>
</tr>
</table>